<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>AutoJudge</title>
    <!-- <link rel="shortcut icon" href="img/favicon.ico"> -->
    <!-- <script type="module" src="js/index.min.js" defer></script> -->
    <link rel="stylesheet" href="css/index.min.css">

</head>
<body>
    <h1>Welcome to AutoJudge</h1>
    <p>AutoJudge is a simple web application that allows you to submit your code and have it automatically judged.</p>

    <h2>How to use</h2>
    <p>First you need to submit the input and output files for the problem you want to solve. You need to do this only once for each problem. All data sent is saved on the local storage of your browser.</p>
    <p>Zip all input and output files using the following structure:</p>
    
    <pre>
        input/
            test00
            test01
            test02
            ...
        output/
            test00
            test01
            test02
            ...
    </pre>

    <p>You can name the test cases as you wish, but the names must match between input and output files. The files must be in plain text format. Check <a href="sample-in-out.zip">here</a> for a sample .zip file that adheres to the structure above.</p>
    <p>Once 
</body>
</html>