<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>AutoJudge</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <script type="module" src="js/index.min.js" defer></script>
    <link rel="stylesheet" href="css/index.min.css">

</head>
<body>
    <div id="frame">
        <div id="logo">
            <img src="img/autojudge.webp">
            <h1>root@<span id="site-name">autojudge</span>~$ Welcome!<span id="underline">_</span></h1>
        </div>
        <h3>Online Judge at your service. I can help you test your code against multiple test cases.</h3>
        
        <div id="options"></div>
    </div>
    <footer>
        <div class="col">
            <div>Check the project on <a href="https://github.com/werlang/autojudge" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a></div>
            <div>© <span id="year"></span> Pablo Werlang</div>
        </div>
    </footer>
</body>
</html>