<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Primary Meta Tags -->
<meta name="title" content="{{common:page-title}}">
<meta name="description" content="{{common:page-description}}">
<meta name="keywords" content="{{common:page-keywords}}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://autojudge.io">
<meta property="twitter:title" content="{{common:page-title}}">
<meta property="twitter:description" content="{{common:page-description}}">
<meta property="twitter:image" content="https://autojudge.io/assets/img/autojudge.webp">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://autojudge.io" />
<meta property="og:title" content="{{common:page-title}}" />
<meta property="og:description" content="{{common:page-description}}" />
<meta property="og:image" content="https://autojudge.io/assets/img/autojudge.webp" />

<!-- Favicon and Touch Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">
<link rel="manifest" href="/assets/icon/site.webmanifest">
<link rel="mask-icon" href="/assets/icon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/icon/favicon.ico">

<!-- Microsoft Tiles -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/assets/icon/browserconfig.xml">

<!-- Theme Color -->
<meta name="theme-color" content="#5b5b60">
