@import 'card.less';

#contest-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    width: 100%;

    .card.add {
        .head {
            background-color: var(--color-secondary);
        }
    }
}