@import 'card.less';

#contest-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    width: 100%;

    .card {
        align-items: baseline;
        width: 250px;

        &.add {
            align-items: center;
            text-align: center;

            .head {
                background-color: var(--color-secondary);
            }

            .body {
                padding: 30px 10px 40px;
                display: flex;
                align-items: center;
            }
        }

        &.placeholder {
            background-color: rgba(var(--color-text-raw), 0.7);

            .head {
                background-color: rgba(var(--color-main-raw), 0.5);

                .title {
                    border-radius: 5px;
                    background-color: var(--color-text);
                    animation: placeholder-card 1.3s infinite;
                }
            }

            .body .description div span {
                display: inline-block;
                border-radius: 5px;
                background-color: var(--color-background);
                color: var(--color-background);
                animation: placeholder-card 1.6s infinite;

                @keyframes placeholder-card {
                    0% { opacity: 0.3; }
                    50% { opacity: 0.5; }
                    100% { opacity: 0.3; }
                }
            }
        }

        .body {
            flex-grow: 1;
            display: flex;
            
            .description {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                div {
                    max-height: 200px;
                    overflow: hidden;
                }
            }
            

            .details {
                margin-top: 20px;
                display: flex;
                justify-content: space-around;
                // flex-direction: column;
                // margin-left: 20px;
                gap: 10px;
    
                i {
                    margin-right: 5px;
                }
            }
        }

    }
}

.modal#add-contest {

    #duration-label {
        margin-bottom: 10px;
        margin-left: 10px;
        display: flex;

    }

    #duration-container {
        display: flex;
        gap: 20px;
    }
}

.modal#add-team {
    pre {
        text-align: center;
        margin-top: 0;
        margin-bottom: 25px;
        cursor: pointer;
        transition: 0.3s all;
        display: flex;
        justify-content: space-between;

        &#password code {
            font-size: 1.3rem;
            letter-spacing: .4rem;
        }

        &:hover {
            filter: brightness(0.8);

            .copy {
                opacity: 1;
            }
        }

        code {
            flex-grow: 1;
        }

        .copy {
            padding: 0 10px;
            margin: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s all;
            opacity: 0.3;

            &:hover {
                background-color: rgba(var(--color-main-raw), 0.1);
            }
        }
    }
}

#frame #contest {
    margin-top: 50px;
    width: 100%;
    max-width: 900px;

    h1 .editable {
        align-items: center;
    }

    p .editable {
        align-items: flex-start;

        .edit-icon {
            margin-left: -40px;
            margin-top: -30px;
            
            @media @size-600 {
                margin: 0;
            }
        }
    }

    .editable {
        transition: 0.3s all;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        align-items: flex-start;
        
        &:hover {

            .edit-icon {
                color: rgba(var(--color-text-raw),1);
                animation: edit-pulse 1s infinite ease-in-out;

                @keyframes edit-pulse {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(1.2);
                        color: rgba(var(--color-main-raw),0.5);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }

        .field {
            outline: none;
            padding: 5px 10px;
            border-radius: 5px;

            &[contenteditable="true"], &[contenteditable="plaintext-only"] {
                background-color: rgba(var(--color-main-raw), 0.2);
            }

        }

        .edit-icon {
            border-radius: 4px;
            flex-direction: column;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 2px;
            cursor: pointer;
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            color: rgba(var(--color-text-raw),0.3);

            &.editing {
                animation: none;
                color: rgba(var(--color-text-raw),0.1);
            }
        }
    }

    .table {
        margin-bottom: 15px;
    }

    #problems, #teams {
        margin-top: 30px;
    }
}