@import 'card.less';
@import 'contest-clock.less';
@import 'team.less';

#contest-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    width: 100%;

    .card {
        align-items: baseline;
        width: 250px;

        &.add {
            align-items: center;
            text-align: center;

            .head {
                background-color: var(--color-secondary);
            }

            .body {
                padding: 30px 10px 40px;
                display: flex;
                align-items: center;
            }

            .description {
                font-size: 1.2rem;
            }
        }

        &.placeholder {
            background-color: rgba(var(--color-text-raw), 0.7);

            .head {
                background-color: rgba(var(--color-main-raw), 0.5);

                .title {
                    border-radius: 5px;
                    background-color: var(--color-text);
                    animation: placeholder-card 1.3s infinite;
                }
            }

            .body .description div span {
                display: inline-block;
                border-radius: 5px;
                background-color: var(--color-background);
                color: var(--color-background);
                animation: placeholder-card 1.6s infinite;

                @keyframes placeholder-card {
                    0% { opacity: 0.3; }
                    50% { opacity: 0.5; }
                    100% { opacity: 0.3; }
                }
            }
        }

        .body {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            
            .description {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                div {
                    max-height: 200px;
                    overflow: hidden;
                }
            }
            

            .details {
                margin-top: 20px;
                display: flex;
                justify-content: space-around;
                // flex-direction: column;
                // margin-left: 20px;
                gap: 10px;
    
                i {
                    margin-right: 5px;
                }
            }
        }

    }
}

.modal#add-contest {

    #duration-label {
        margin-bottom: 10px;
        margin-left: 10px;
        display: flex;

    }

    #duration-container {
        display: flex;
        gap: 20px;
    }
}

.modal#add-team {
    pre {
        text-align: center;
        margin-top: 0;
        margin-bottom: 25px;
        cursor: pointer;
        transition: 0.3s all;
        display: flex;
        justify-content: space-between;

        &#password code {
            font-size: 1.3rem;
            letter-spacing: .4rem;
        }

        &:hover {
            filter: brightness(0.8);

            .copy {
                opacity: 1;
            }
        }

        code {
            flex-grow: 1;
        }

        .copy {
            padding: 0 10px;
            margin: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s all;
            opacity: 0.3;

            &:hover {
                background-color: rgba(var(--color-main-raw), 0.1);
            }
        }
    }
}

.modal#log-modal {
    pre {
        margin: 0 -30px 30px;
        padding: 10px;
        white-space: pre-wrap;
        border-radius: 0;
        overflow: hidden auto;

        code {
            padding: 0px;
            box-sizing: border-box;
            width: 100%;
        }
    }
}

#frame {

    #logo-container {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 100px;
        }
    }

    #contest {
        margin-top: 70px;
        width: 100%;
        max-width: 900px;
    
        #logo-container {
            position: absolute;
            left: 0;
            margin-top: -70px;
            font-size: 1.4rem;
            cursor: pointer;
            background-color: rgba(var(--color-main-raw), 0.2);
            
            &.loaded {
                background-color: transparent;
                height: auto;
    
            }

            img {
                max-height: 100px;
            }
    
            .editable {
    
                span {
                    display: inline-block;
                }
            }
    
            span {
                display: none;
            }
        }
    
        h1 .editable {
            align-items: center;
        }
    
        p .editable {
            align-items: flex-start;
    
            .edit-icon {
                margin-left: -40px;
                margin-top: -30px;
                
                @media @size-600 {
                    margin: 0;
                }
            }
        }
    
        .editable {
            transition: 0.3s all;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            align-items: flex-start;
            
            &:hover {
    
                .edit-icon {
                    color: rgba(var(--color-text-raw),1);
                    animation: edit-pulse 1s infinite ease-in-out;
    
                    @keyframes edit-pulse {
                        0% {
                            transform: scale(1);
                        }
                        50% {
                            transform: scale(1.2);
                            color: rgba(var(--color-main-raw),0.5);
                        }
                        100% {
                            transform: scale(1);
                        }
                    }
                }
            }
    
            .field {
                outline: none;
                padding: 5px 10px;
                border-radius: 5px;
    
                &[contenteditable="true"], &[contenteditable="plaintext-only"] {
                    background-color: rgba(var(--color-main-raw), 0.2);
                }
    
            }
    
            .edit-icon {
                border-radius: 4px;
                flex-direction: column;
                font-size: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 2px;
                cursor: pointer;
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                color: rgba(var(--color-text-raw),0.3);
    
                &.editing {
                    animation: none;
                    color: rgba(var(--color-text-raw),0.1);
                }
            }
        }
    
        .table {
            margin-bottom: 15px;
        }
    
        #problems button {
            margin-bottom: 20px;
        }
    
        #problems, #teams {
            margin-top: 30px;
        }
    
        #start-contest {
            margin-top: 30px;
        }
    }
}

#frame #problems-container,
#frame #problems {
    .column .color {
        background-color: var(--color-problem);
        width: 25px;
        height: 25px;
        border-radius: 100%;
        border: 1px solid rgba(var(--color-text-raw), 0.6);

        &.empty {
            border: none;
        }
    }

}

#frame #dashboard-cards {
    .card {
        width: 250px;

        .description {
            div, span {
                display: flex;
                align-items: center;
            }

            .count {
                font-size: 2rem;
                margin-right: 10px;
                margin-left: 15px;
            }
    
            .accepted {
                color: #56c956;
                font-size: 1.7rem;
                margin-right: 10px;
                margin-left: -5px;
            }

            #winner {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4rem;
                margin-top: 10px;

                i {
                    margin-right: 5px;
                    color: rgb(254,195,10);
                }
            }
        }
    }

}

#new-submission-form #code {
    border-radius: 5px;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    transition: 0.3s all;
    background-image: none;
    box-shadow: 0 0 5px rgba(var(--color-main-raw), 0.5);
    background-color: rgba(var(--color-main-raw), 0.1);
    border: 2px dashed rgba(var(--color-main-raw), 0.7);
    filter: grayscale(0.8);

    &.success {
        border-style: solid;
        filter: none;

        .message .button {
            opacity: 1;
            cursor: pointer;
        }
    }

    .message {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transition: 0.3s all;
        
        .button {
            margin: 0;
            font-weight: bold;
            border: none;
            box-shadow: none;
            background-color: transparent;
            color: var(--color-text);
            opacity: 0.4;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.3s all;
            cursor: not-allowed;
            width: 100%;
            padding: 10px 0;

            i {
                font-size: 2rem;
                margin-bottom: 10px;
            }
        }
    }
}

#color-modal.modal {
    max-width: 400px;

    #picker {
        margin: 20px auto;
    }

    #button-container button {
        --color-problem: var(--color-secondary);
        background-color: var(--color-problem);
        text-shadow: 0 0 4px rgba(var(--color-background-dark-raw), 1);
        max-width: none;
    }
}

#frame #reset-contest {
    margin-top: 50px;
    max-width: 400px;
}