@import 'components/header.less';
@import 'components/menu.less';
@import 'components/toast.less';
@import 'components/form.less';

#frame-load {
    margin-top: 100px;
    font-size: 3rem;
}

#frame {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.2rem;
    }
}
