@import 'common.less';
@import 'header.less';
@import 'menu.less';

#frame #problems {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    border-radius: 5px;
    background-color: rgba(var(--color-main-raw), 0.15);
    border: 1px solid rgba(var(--color-background-dark-raw), 0.3);

    .problem {
        padding: 15px 30px;
        box-sizing: border-box;
        cursor: pointer;
        color: var(--color-text);
        border-bottom: 1px solid rgba(var(--color-main-raw), 0.3);
        transition: 0.3s all;

        &:last-child {
            border-bottom: none;
            border-radius: 0 0 5px 5px;
        }

        &:nth-child(odd) {
            background-color: rgba(var(--color-main-raw), 0.05);
        }
     
        &:hover {
            background-color: rgba(var(--color-main-raw), 0.2);
        }
    }

    .problem.placeholder {
        color: var(--color-text);
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        border-radius: 5px 5px 0 0;
        background-color: rgba(var(--color-secondary-raw), 0.3);
        border-bottom: 1px solid rgba(var(--color-secondary-raw), 0.5);

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            font-size: 1rem;
            border-radius: 50px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.3s all;
            border: 1px solid transparent;
            margin: 0 5px;
            
            i {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            &:hover {
                background-color: rgba(var(--color-secondary-raw), 0.5);
                border: 1px solid rgba(var(--color-secondary-raw), 0.5);
            }
        }
    }
}