@import 'modal.less';

#menu {
    // here goes menus without fog
    background-color: var(--color-background);
    width: var(--width);

    #logo a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;

        img {
            width: 45px;
            height: 45px;
            margin-right: 10px;
        }

        span {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--color-main);
            cursor: pointer;
        }
    }

    #menu-item-container {
        margin-top: 15px;

        .menu-item {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            cursor: pointer;
            transition: 0.3s all;
    
            &.active {
                background-color: rgba(var(--color-main-raw), 0.3);
            }

            &:hover {
                background-color: rgba(var(--color-main-raw), 0.5);
            }
    
            i {
                font-size: 1.5rem;
                margin-right: 10px;
            }
        
        }
    }
}

#fog {
    transition: var(--hide-time) background-color;

    &.hidden {
        display: none;
    }

    &.playing {
        display: block;
        background-color: transparent;

        #menu {
            transform: translateX(calc(-50px - var(--width)));
        }
    }
    
    #menu {
        transition: var(--hide-time) transform;
        left: 0;
        position: fixed;
        height: 100vh;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        border-right: 1px solid var(--color-border);
    }
}

