@import 'common.less';
@import 'modal.less';
@import 'input.less';
@import 'toast.less';
@import 'menu.less';
@import 'header.less';
@import 'table.less';

#frame-load {
    margin-top: 100px;
    font-size: 3rem;
}

#teams-container {
    width: 100%;
    max-width: 900px;
}
