@import 'common.less';
@import 'modal.less';
@import 'input.less';
@import 'toast.less';
@import 'menu.less';
@import 'header.less';
@import 'table.less';

#frame-load {
    margin-top: 100px;
    font-size: 3rem;
}

#teams-container {
    width: 100%;
    max-width: 900px;
}

#time-left {
    margin-top: 20px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #clock {
        padding: 5px 30px;
        display: flex;
        justify-content: center;
        font-family: 'Quantico', monspace;
        font-size: 2rem;
        margin-top: 10px;
        border-radius: 5px;
        background-color: rgba(var(--color-background-dark-raw), 0.5);
        box-shadow: 0 0 5px rgba(var(--color-main-raw), 0.5);

        span {
            padding: 0px 5px;
            margin: 0 5px;
            border-radius: 5px;
            text-shadow: 0 0 5px rgba(var(--color-main-raw), 0.5);
            width: 50px;
            display: flex;
            justify-content: center;
        }
    }
}