export default {
    mysql: {
        host: 'mysql',
        user: 'root',
        password: process.env.MYSQL_ROOT_PASSWORD,
        database: process.env.MYSQL_DATABASE,
        port: process.env.MYSQL_PORT,
    },
    contest: {
        duration: 180,
        maxScore: 100,
        minScore: 80,
        bonusScore: 0.1,
        penaltyScore: -1,
    },
}